[2017-06-09 20:28] zmc opened #3 "hrefs in dashboards/current/ceph-at-a-glance.json all point to 'localhost'"

[2017-06-10 00:00] pcuzner commented on #3
Yep - I changed the psuedo buttons to be regular singlestat panels with links to fix this link embedding problem. refresh your at-a-glance dashboard from master.

[2017-06-10 00:00] #3 closed

[2017-06-13 13:59] pcuzner opened #4 "Status Panel for OSD stats shows interpolated values when nodes are down"
Query is showing things like 0.75 of an osd is down.

[2017-06-16 20:06] zmc opened #8 "Move repo into ceph org"
What do we need to do before we do this?

[2017-06-19 17:40] zmc opened #9 "Increase auto-refresh delay on dashboards?"
Refreshing every 10s can generate a considerable amount of load

[2017-06-19 20:51] pcuzner commented on #8
I'm not sure who would make that call. You're thinking further ahead than I am!

[2017-06-19 20:53] pcuzner commented on #9
Where are you seeing the load issue?

[2017-06-19 21:05] zmc commented on #9
Well, when I logged in this morning one cluster I've been testing on had all cores at 100% - not sure what httpd was doing, but the effect lingered even after I closed all Grafana tabs.

[2017-06-19 22:38] pcuzner commented on #9
Wow. So to clarify;
- the issue you saw was on the monitoring host, not the ceph nodes?
- the 100% cpu was attributed to httpd? Grafana just has one process grafana-server and Graphite uses nginx not httpd...so I'm a little confused.

[2017-06-19 23:02] zmc commented on #9
* The monitor host, yes
* Well, the graphite-web packages shipped by EPEL - and also eventually us - use httpd :-/

[2017-06-20 00:03] pcuzner commented on #9
Great...well not really :cry:

Dumb questions follow;
- collectd sends data to carbon-cache, so I'm assuming that's OK - if so then the send rate and metrics volume is fine.
- just looking at my tinpot system and nginx basically does nothing - so why httpd works differently has me at a loss.
- Is the graphite data on flash or regular hdd? If hdd, what's the disk utilisation look like?
- maybe ther

[2017-06-20 16:03] alram opened #10 "RGW socket not detected"
I have a RGW running on my machine but collectd log displayed:
```[2017-06-20 11:42:41] cephmetrics: Roles detected - mon:True osd:True rgw:False```

It seems there's an extra '.' in the regex. It tries to find ```/var/run/ceph/<cluster>-client.rgw.<hostname>.<maybe_something>.asok``` which in my case ends up being:
```/var/run/ceph/ceph-client.rgw.ceph..asok ```
https://github.com/pcuzner/cephmet

[2017-06-20 17:50] zmc commented on #9
* Yeah, I see no evidence of problems with the send rate at all
* Ditto
* In each of the two clusters I'm testing on, they're on spinners. But iotop looked mostly idle when the CPU issues were presenting.
* Possibly. Or it's an apache bug...

You should have access to the internal cluster I'm using; for the one in Sepia, you'd have to follow this process: https://github.com/ceph/sepia/blob/master/

[2017-06-20 21:30] pcuzner commented on #10
The format of the glob expects to see the pid of the rgw following the hostname. This is what I see on downstream ceph-radosgw-10.2.2-15.

Should the glob simply be glob.glob('/var/run/ceph/ceph-client.rgw.*.asok') - this seems to cover sockets with pid and without pid.

Would this be more appropriate?

[2017-06-20 21:46] alram commented on #10
Sounds good to me

[2017-06-20 22:58] zmc opened #12 "Flapping in singlestat panels"
I've heard reports from two people that the singlestat panels on the at-a-glance dashboard were flapping. I finally saw it myself. These were taken six seconds apart on the internal cluster:

<img width="201" alt="screen shot 2017-06-20 at 4 55 35 pm" src="https://user-images.githubusercontent.com/58307/27359535-7adfd3be-55d9-11e7-9fbc-c9333e52f313.png">
<img width="201" alt="screen shot 2017-06-2

[2017-06-20 23:00] dmick commented on #12
I seem to be able to provoke this by clicking manual refresh like a crazed monkey, so it's just "sometimes the sample doesn't get data or gets bad data", it seems

[2017-06-20 23:08] zmc commented on #12
Unsure if this is related:
https://paste.fedoraproject.org/paste/Vrvf9UVxjfEqMw35twVGdw

[2017-06-20 23:16] pcuzner commented on #12
I think some of this is the interval issue - carbon is configured for 1s but collectd sends every 10s - so it fills in the blanks with null values - which the status panel really loves..

Zack is reconfiguring carbon, so we'll see whether the interval is the culprit.

[2017-06-20 23:41] dmick opened #13 "MON's and OSD's should not have apostrophes"
I know style guides differ about these, but most of our documentation and more-common modern usage seems to indicate there should be no apostrophe (it connotes possession, which is not what is meant).

http://www.grammarbook.com/punctuation/apostro.asp Rule 6 is one discussion.  The final entry in https://en.oxforddictionaries.com/punctuation/apostrophe is another.  Both seem to agree that it's us

[2017-06-20 23:52] dmick commented on #12
I tried adding dumpio logs briefly to see what the params were to the POSTs, but it was awfully verbose and didn't immediately show anything useful.

[2017-06-20 23:53] dmick commented on #12
It doesn't seem to be happening 9 out of 10 seconds, though.  Does carbon not interpolate?

[2017-06-21 02:15] dmick commented on #12
it's possible using keepLastValue() in the graphite query for those items would mitigate the "I got a null sample" problem.  Hacked around a bit on a dashboard copied from the default At A Glance.

[2017-06-21 03:55] pcuzner commented on #10
this change is on magna123 - can you start radosgw and confirm this is resolved.

[2017-06-21 04:15] pcuzner commented on #13
I'm siding with the guidance where an apostrophe adds clarity to the text for the reader. There's conflicting guidance these days, and tbh, I didn't want the text to read OSDs - I'm old school mainframe and it just looks too much like OCDS to me.

[2017-06-21 04:19] pcuzner commented on #12
I'm not seeing this anymore - two things have changed
- interval is 10s on the whisper files, aligning to our collectd interval
- we have 2 monitors now reporting into graphite

closing as resolved

[2017-06-21 06:02] dmick commented on #13
Willing to fight on this.

[2017-06-21 06:03] dmick commented on #12
Resolved?..

Um..

[2017-06-21 15:03] alram commented on #10
Looks like magna123 is having some issues with the radosgw. It can't connect to the cluster.
```2017-06-21 07:49:44.780891 7f5d0268c9c0  0 failed reading zonegroup info: ret -2 (2) No such file or directory```

It's looking for a few inexistent zonegroup objects  in .rgw.root. Seems like something is really broken on this cluster:
[code]

[2017-06-21 19:52] zmc opened #16 "SELinux issues with collectd"
See https://gist.github.com/zmc/e4cdaa1a72bdb34c46c0dacf8cc58fa8

[2017-06-21 20:46] zmc commented on #13
very much agree with @dmick here

[2017-06-21 20:50] zmc commented on #12
I don't know that this is resolved

[2017-06-21 20:51] zmc opened #17 "Vonage plugin doesn't work with RH-built grafana"
Haven't diagnosed yet, but:
<img width="197" alt="screen shot 2017-06-21 at 2 50 35 pm" src="https://user-images.githubusercontent.com/58307/27406079-0f32102e-5691-11e7-9350-6c7af9958e39.png">

[2017-06-21 20:54] pcuzner commented on #16
I'd documented selinux as an issue in the install guide. When you generate a local policy to resolve, what does it look like - is it just collectd accessing the sockets in /var/run/ceph?

[2017-06-21 20:55] pcuzner commented on #13
OK - I'm not going to waste cycles on a grammar debate. I'll make the changes

[2017-06-21 20:55] #13 closed

[2017-06-21 20:57] pcuzner commented on #12
OK - so you guys are saying that after the config changes your still seeing the 'flapping' behaviour? I closed it because I had the dashboard open for a couple of hours and didn't see any issue.

[2017-06-21 21:12] pcuzner commented on #17
isn't this because of the directory name
You have : Vonage-Grafana_Status_panel
It's looking for : vonage-status-panel

[2017-06-21 21:20] pcuzner commented on #4
This affects the health panel and the osd's. for the osd's you see a single transition, but the health panel should 2-3 transitions as the health returns to OK (0)

[2017-06-21 21:26] pcuzner commented on #4
Looking at the data - the values stored are 0,4 and 8 as expected, so this is a panel query issue.

[2017-06-21 22:48] zmc commented on #17
Unfortunately that's not the issue. Even using the recommended way:
[code]
doesn't work.

[2017-06-21 22:52] zmc commented on #17
Update: it's a packaging bug. More info soon

[2017-06-21 23:11] zmc commented on #17
Logs generated by grafana.com's package, found in `/var/log/grafana/grafana.log`:
[code]

Logs generated by our package, found in `/usr/share/grafana/data/log/grafana.log` (*!*):
[code]

[2017-06-21 23:12] zmc commented on #17
@b-ranto could you take a look?

[2017-06-21 23:29] zmc commented on #17
fwiw https://github.com/zmc/cephmetrics/commit/320bf7ae67c953ad629705defc11251896939d63 appears to fix it

[2017-06-21 23:57] pcuzner opened #20 "user login should go straight to our at a glance dashboard"
We should push the user straight to our dashboard at login, to reduce the need to understand too much about the grafana UI

[2017-06-22 00:05] pcuzner commented on #20
starred dashboards can be added as default dashboards. In our case we can assume there is only one org in grafana, and assign our dashboard as the default to the org, that way any users the customer creates lands on the same home page

Process is as follows (with curl);
get the at-a-glance dashboard
extract the dashboards id (mine was 16)
star the dashboard with
curl -u admin:admin -H "Content-Typ

[2017-06-22 00:14] #17 closed

[2017-06-22 00:23] zmc commented on #20
[code]

[2017-06-22 03:50] pcuzner commented on #8
@zmc I tried this earlier - it failed. I'd need create authority for the transfer. Is this something that can be done?

[2017-06-22 04:36] b-ranto commented on #17
I am just wondering, is the grafana package built by me shipping a different config than the upstream build? AFAIK, I am using the same default.ini config as the upstream build.

I know there were some packaging issues with regard to grafana user/group (it could not rewrite the db) and those should be fixed by https://brewweb.engineering.redhat.com/brew/taskinfo?taskID=13492670

However, afaik, I

[2017-06-22 06:42] pcuzner commented on #20
@zmc I've updated dashUpdater to handle this now. will push tommorrow

[2017-06-22 07:10] pcuzner commented on #16
selinux blocks write_graphite too (look at magna123, Jun 21)
https://gist.github.com/pcuzner/049cc8fef1f49c533e0dac47fb66976e

[2017-06-22 18:00] djgalloway commented on #10
This cluster was upgraded to RHCS 2.3 yesterday and I'm struggling to get the RGW service running again.

[2017-06-22 21:49] pcuzner commented on #20
commit 97725264c025721e78a04dee2fd889a0021b7e35 adds this functionality

[2017-06-22 21:49] #20 closed

[2017-06-23 18:08] GregMeno commented on #8
DONE woot!

[2017-06-23 18:08] #8 closed

[2017-06-23 18:35] zmc commented on #12
Yeah, just happened again. These are from two consecutive refreshes:
<img width="224" alt="screen shot 2017-06-23 at 12 34 35 pm" src="https://user-images.githubusercontent.com/58307/27495748-6b66fa14-5810-11e7-9376-cb7277484ab9.png">
<img width="204" alt="screen shot 2017-06-23 at 12 34 43 pm" src="https://user-images.githubusercontent.com/58307/27495747-6b5cb928-5810-11e7-9bfc-b5905bded532.png">

[2017-06-23 18:41] zmc opened #23 "Dashboards not updating properly"
A tale of two screenshots. The first is from the Sepia cluster I'm testing on; the second is from the internal cluster. I just reran ansible on both.
<img width="655" alt="screen shot 2017-06-23 at 12 36 29 pm" src="https://user-images.githubusercontent.com/58307/27495842-d2ae8692-5810-11e7-8d21-e3396fe1dfcf.png">
<img width="657" alt="screen shot 2017-06-23 at 12 40 29 pm" src="https://user-image

[2017-06-26 17:00] zmc opened #30 "Logging changes break collectd"
d3432caf0dc7cc7b70b73f93a84313426fc65093 broke collectd:
[code]
5899e3f helps, but:
[code]

[2017-06-26 17:03] djgalloway commented on #10
@alram I don't think the previous RGW setup was critical, important, or used.  I'm going to try rebuilding the RGW client setup from scratch.

[2017-06-26 17:46] djgalloway commented on #10
@alram RGW is running again on magna123.

`srwxr-xr-x.  1 ceph ceph    0 Jun 26 17:41 ceph-client.rgw.magna123.asok`

Let me know if I can help with anything else.  I didn't mess with pools or anything.

[2017-06-26 20:21] b-ranto commented on #30
This should be fixed by https://github.com/ceph/cephmetrics/pull/28/commits/5899e3f5026e0d76aed01ec260ccc43ba8e66e29

[2017-06-26 20:24] zmc commented on #30
That's the same commit; my comment mentioned the sha1 before it was merged to master. Updated.

[2017-06-26 20:26] b-ranto commented on #30
Ah, sry, missed the second part of the comment.

[2017-06-26 23:21] pcuzner commented on #12
this is down to the old dashboards query still being used. Updates to the dashboard have used keepLatValue to account for slow to arrive metrics from mons. zmc has a fixed to the ansible deployment that refreshes existing dashboards, which should ensure only the current/new version is active.

[2017-06-26 23:29] pcuzner commented on #10
@djgalloway thanks. rgw stats now showing in the dashboard. closing the issue

[2017-06-26 23:29] #10 closed

[2017-06-26 23:30] pcuzner commented on #9
@zmc are you still seeing this as an issue?

[2017-06-26 23:40] #23 closed

[2017-06-27 00:28] zmc opened #36 "Document production mode deployment"
See https://github.com/ceph/cephmetrics/pull/26#issuecomment-311217526

[2017-06-27 00:29] #30 closed

[2017-06-27 00:30] zmc commented on #9
I haven't been, actually. I think we can close this. If I see it again I'll reopen.

[2017-06-27 00:30] #9 closed

[2017-06-27 00:31] zmc commented on #12
If I don't see this in the next ~24h I'll close the issue

[2017-06-27 00:36] zmc commented on #16
I believe this is fixed by https://github.com/ceph/cephmetrics/commit/ac6ea525fa982215b09cea1a5f10b54469a1d7d6 and https://github.com/ceph/cephmetrics/pull/34

[2017-06-27 19:13] zmc opened #38 "Closing the packaging gap"
I'm using a [repo](https://chacra.ceph.com/repos/cephmetrics/dependencies/HEAD/rhel/7/repo) to collect dependencies.

So far we have our own builds of:
[code]

I've added these to the repo as well. I'm unsure if we'll need to rebuild them.
[code]

[2017-06-27 19:36] zmc opened #39 "network-usage-by-node stats need to monitor en* interfaces"
On a fresh production-mode cluster:
<img width="1122" alt="screen shot 2017-06-27 at 1 35 18 pm" src="https://user-images.githubusercontent.com/58307/27606450-8e1cf02e-5b3d-11e7-9cf3-c524b5344239.png">

The interfaces are `eno1` and `eno2`

[2017-06-27 19:39] zmc opened #40 "ceph-rgw-workload: Average Request Latency reports Internal Server Error"
On a fresh production cluster:
<img width="1118" alt="screen shot 2017-06-27 at 1 37 32 pm" src="https://user-images.githubusercontent.com/58307/27606513-e3082fe0-5b3d-11e7-9703-2ef442c422c5.png">

[2017-06-27 20:38] pcuzner commented on #39
This is just the query - it was set to ethX and bondX. I've included enX now. @zmc are there any other prefixes I should whitelist - I have to whitelist, since I want to avoid the lo interface and the query doesn't support exclude :(

[2017-06-27 20:44] pcuzner commented on #40
@zmc was this seen at the soon after the environment came up? The queries use division, so I'm wondering if this was a divide by 0 issue. Right now, the graph is fine.

If you see it again, can you click on the red icon and capture the trace it shows

[2017-06-27 20:52] zmc commented on #16
https://github.com/ceph/cephmetrics/pull/37 appears to have fixed the last remaining issue; I've checked after deploying with:
[code]

On the various clusters I'm looking at.

[2017-06-27 20:52] #16 closed

[2017-06-27 20:54] zmc commented on #40
@pcuzner You're right, it looks fine now!

[2017-06-27 20:54] #40 closed

[2017-06-27 20:55] zmc commented on #39
Ah, great! @djgalloway - are there any other common interface prefixes we should be aware of?

[2017-06-27 21:21] pcuzner opened #42 "growth and forecast panels showing inconsistent data"
The offset used is not to a fixed point in time (eg. max over a day, 7 days ago) so the values change in more of a moving window algorithm. This makes the data change frequently, which is not what an admin will expect.

[2017-06-27 23:09] zmc opened #43 "Merging package repos"
At some point, we'll want to merge the repos containing dependencies and cephmetrics itself. I'm not sure if we want to do this manually, or if this [chacra feature](https://github.com/ceph/chacra#defining-extra-packages) might help.

[2017-06-28 11:43] djgalloway commented on #39
@zmc Does enX cover enpXsX?  Gotta keep in mind systemd's new naming scheme.

[2017-06-28 16:23] zmc opened #45 "Carbon disk IO causing grafana updates to time out"
@pcuzner noticed that on a 10-node cluster, the cephmetrics host was saturating its (spinning) disk's IO capabilities. I noticed that grafana updates were often taking >10s, resulting in their being aborted due to the 10s refresh rate on the dashboards.

[2017-06-28 16:24] zmc commented on #45
I'm experimenting with setting `WHISPER_AUTOFLUSH = True` in `/etc/carbon/carbon.conf`.

So far I've noticed that each grafana request (monitoring via Chrome's Developer Tools) went from taking 6-11s down to 300-800ms(!) and are no longer being aborted.

Perhaps we want to use this configuration setting?

[2017-06-28 19:04] zmc opened #46 "Odd per-host metrics counts"
I wonder if this might partially explain https://github.com/ceph/cephmetrics/issues/45

[code]

[2017-06-28 19:13] zmc commented on #46
That cluster is the real-world one we've been testing on for a couple weeks. On the empty one I deployed yesterday:
[code]

[2017-06-28 22:04] pcuzner commented on #46
@zmc the count differs because of the role. For example, on magna126-128, it's gathering osd and mon metrics, whereas on magna119-125 are osd's with 123 being osd+rgw

[2017-06-28 22:08] pcuzner commented on #45
Great find! Yes, include this in the config of the graphite deployment as a default.

In our case, we're still @ 98% util - but with this setting, it proves support for 10 hosts/54 osd's on a single spindle :smile:

[2017-06-29 03:45] pcuzner commented on #4
Testing on latest dashboard
- dropping a node shows the correct osd counts
- restarting the node shows the bogus value for one sample interval

[2017-06-29 05:50] pcuzner commented on #39
@djgalloway yeah - the query is actually using {en,eth,bond}*

@zmc the updated dashboard is in PR #48

[2017-06-29 05:51] pcuzner commented on #42
PR #48 has stabilised the panels - at least on the test environments I have. I'm not 100% happy though with the queries, and will need to revisit.

[2017-06-29 16:31] djgalloway commented on #39
@pcuzner if anyone's running RHEL or CentOS 6, there's a possibility the NIC could be named em* too.

[2017-06-29 20:27] zmc commented on #46
ok, just checking. Thanks!

[2017-06-29 20:27] #46 closed

[2017-06-29 20:30] zmc commented on #43
This [Jenkins job](https://jenkins.ceph.com/job/cephmetrics-release/)
will combine the repos of [cephmetrics](https://shaman.ceph.com/repos/cephmetrics/) and [cephmetrics-deps](https://shaman.ceph.com/repos/cephmetrics-deps/) automatically, for these branches:
- master
- develop
- 1.0 (this doesn't exist yet and could also be a tag AFAIK)

cephmetrics-deps repos are created by manually pushing all

[2017-06-29 22:08] pcuzner commented on #42
will leave this open pending feedback

[2017-06-29 23:13] zmc opened #52 "Nonstandard Grafana plugin paths in packages"
We need to tweak [some CSS in the vonage plugin](https://github.com/ceph/cephmetrics/commit/c9940e71f152da36c443c30ec3069828e8a54919#diff-4e8d3ccf6adde09d00f830d87663c50eR20), but in packaged versions, [we're using nonstandard names](https://github.com/ceph/cephmetrics/blob/e346734235b59a763856f277a2cc6618113ca0e5/cephmetrics.spec.in#L59-L62). Is that necessary?

[2017-06-29 23:38] zmc commented on #39
No EL6 support ATM; we're resolved here

[2017-06-29 23:38] #39 closed

[2017-06-29 23:39] zmc commented on #36
https://github.com/ceph/cephmetrics/issues/52

[2017-06-29 23:40] zmc commented on #36
https://github.com/ceph/cephmetrics/pull/51

[2017-06-29 23:41] #12 closed

[2017-06-29 23:41] #45 closed

[2017-06-29 23:51] zmc commented on #43
http://download.ceph.com/cephmetrics/rpm-master/el7/

[2017-06-29 23:51] #43 closed

[2017-06-30 02:09] pcuzner commented on #4
PR #53 should address this issue

[2017-06-30 02:10] pcuzner commented on #42
PR #53 has a fix for this issue - although the algorithm is still based on a moving window

[2017-06-30 08:05] b-ranto commented on #52
The idea there is not to override files users might have installed on their own -- to avoid collisions. I can add the sed call to the %build section of the spec file. We should not modify the installed files (other than configs) anyway.

[2017-06-30 08:12] b-ranto commented on #52
The PR: https://github.com/ceph/cephmetrics/pull/54

btw: The ansible line would not update the path even with standard paths (it is run only in devel mode only).

[2017-06-30 09:21] pcuzner commented on #52
I can appreciate the intent, but this is a 'dedicated' grafana instance, and changing the names of projects that we depend on doesn't seem appropriate.

[2017-06-30 10:56] b-ranto commented on #52
It does not really change the names of the projects, just their locations in /var/lib/grafna/plugins directory to avoid potential file collisions between packages and to make it a bit more clear what installed the plugins. The projects are still identified by the same name (the name is defined in the package.json and I did not touch that), version, etc.

[2017-06-30 15:55] zmc commented on #52
@b-ranto I don't see the advantage of using nonstandard paths, especially if the name is still stored the same way. What would the plugins conflict with - different versions of themselves? Am I missing something?

[2017-06-30 17:41] b-ranto commented on #52
We are bundling the plugins instead of providing them in separate packages, we also do make some changes to them with the `sed` call. Generally, the bundled files should not override the default locations since there is no way for package manager to handle that situation. If we did ship them in separate packages, we could (and should) use the default paths but if we are bundling them (and modifyin

[2017-06-30 17:47] zmc commented on #52
Perhaps in a future update we'll want to split the plugins into their own packages, and use their standard paths

[2017-06-30 20:34] zmc opened #55 "Weirdness in at-a-glance growth rate and weeks remaining"
<img width="252" alt="screen shot 2017-06-30 at 2 33 20 pm" src="https://user-images.githubusercontent.com/58307/27753038-2ec6a488-5da1-11e7-93bc-5a381e5a373f.png">

[2017-06-30 23:25] #36 closed

[2017-07-06 11:38] ksingh7 opened #56 "Installation failed missing dependencies"
Deployment failed because of dependency. Requires this package https://access.redhat.com/downloads/content/python-twisted-core/12.2.0-4.el7/x86_64/fd431d51/package

[code]

[2017-07-06 13:27] ksingh7 commented on #56
Python-Carbon requires the following repositories to be configured. Should we add this to documentation ?
[code]

[2017-07-06 16:32] zmc commented on #56
Looks like they are available in `rhel-7-server-optional-rpms`; we can document that. Thanks!

[2017-07-06 23:11] #56 closed

[2017-07-06 23:49] pcuzner opened #59 "Documentation changes needed"
The README makes a number of assumptions on the reader and should be updated to reflect

1. Repo needs to be added before installing cephmetrics-ansible (i.e. swap yum install cephmetrics-ansible and curl -L <...>)
2. I think we ought to assume that users will have ceph-ansible already and thus require that playbook to be run from the same machine. That removes the need to add rhel-7-server-rhscon

[2017-07-06 23:52] pcuzner opened #60 "Deploying to environments that do not use DNS results in empty dashboards"
The dashboard queries all rely on $domain - which is set to a domain name for the hosts. However, if the environment doesn't use DNS, collectd sends data without a domain name and the dashboards fail to find any metrics.

[2017-07-06 23:53] pcuzner commented on #60
@zmc I've documented a workaround for this where the domain name is simply added to the HostName parameter in collectd.conf. Do you think we should do this automatically from ansible - so no matter what there will be a domain name component in the metric names - whether the environment is using dns or not?

[2017-07-07 03:55] pcuzner commented on #60
@zmc as an alternate, I've patched dashUpdater to handle the presence or absence of the domain variable in dashboard.yml. If it's not there, the load_dashboard function will drop references to $domain from the json, before it gets loaded into grafana. Sounds simpler than handling it through ansible. Let me know what you think, and if you agree I'll raise the PR

[2017-07-07 05:07] pcuzner opened #61 "need more control on data retention"
A couple of users have mentioned now that they'd like more flexibility with how the retention policy is exposed in the deployment. This could just be a doc error, but should be addressed.

assigning to zack

[2017-07-07 19:24] zmc commented on #59
@pcuzner I'm working on addressing these. But isn't item 4 covered by "All hosts must share the same DNS domain" ?

[2017-07-10 20:49] zmc commented on #59
re: item 2, I can modify #62 to no longer mention the option of initiating deployment from the dashboard host, if we want.

[2017-07-11 19:43] zmc commented on #59
#60 handles the DNS issue

[2017-07-11 19:43] #59 closed

[2017-07-11 22:36] pcuzner opened #63 "selinux deployment problem"
Internal testing has shown a problem with deploying the selinux policy
fatal: [ip-172-31-40-85]: FAILED! => {"changed": true, "cmd": ["semodule", "-i", "/tmp/cephmetrics.pp"], "delta": "0:00:12.218719", "end": "2017-07-11 17:34:41.236180", "failed": true, "rc": 1, "start": "2017-07-11 17:34:29.017461", "stderr": "Failed to resolve typeattributeset statement at /etc/selinux/targeted/tmp/modules/400

[2017-07-11 23:46] pcuzner commented on #60
PR #64 raised to address this issue

[2017-07-12 04:05] bengland2 commented on #63
Last time I ran it, it worked, am having trouble reproducing problem now.   May have been caused by an earlier failure in ansible that I corrected with use_epel: true.  I'll get back to you on this when I can pin it down farther.

[2017-07-13 07:18] pcuzner opened #65 "cephmetrics dependencies"
Why does the cephmetrics rpm (delivering the dashboards) have a dependency on the collectors rpm?

Error: Package: cephmetrics-0.1-231_ga895841.el7.centos.x86_64 (/cephmetrics-0.1-231_ga895841.el7.centos.x86_64)
           Requires: cephmetrics-collectors = 0.1-231_ga895841.el7.centos

[2017-07-13 07:20] pcuzner opened #66 "num_osd_hosts is calculated incorrectly"
the mon collector is counting the hosts listed in osd tree output to determine the number of physical hosts - but this is flawed when crush is used to create separate pools - the same physical host can appear multiple times.

[2017-07-13 07:27] pcuzner opened #67 "RGW count is fluctuating"
On a large system (12 RGW), the query used to generate the count of rgw hosts is fluctuating

[2017-07-13 08:14] pcuzner commented on #67
replace query with
countSeries(collectd.*.$domain.cephmetrics.derive.$cluster_name.rgw.put)

[2017-07-13 08:19] pcuzner opened #68 "some panels on at-a-glance are rounding at high values"
IOPS panels are showing 2K instead of 2200 for example.

This is a simple fix to change the unit from short to none/none

[2017-07-13 16:08] zmc commented on #65
From what I can tell, `cephmetrics-ansible` is the only one you need to initiate deployment. It contains everything in the `ansible` subdirectory.

I'm not sure what the purpose of the base `cephmetrics` package is. Its file list:
[code]

[2017-07-13 16:13] zmc commented on #66
Perhaps just use a `set()` instead of a list here https://github.com/ceph/cephmetrics/blob/master/collectors/mon.py#L210-L211 ?

[2017-07-13 16:17] b-ranto commented on #65
It is a common packaging practice to tie the (sub-)package versions together to prevent mixing of various versions of the collectors and the dashboard (it is generally easier to maintain/test it that way). In this case, it is not that helpful since you still have several nodes. I can strip it away if you want me to.

[2017-07-13 16:25] zmc commented on #65
I do think there's value in having a base package that at least contains the docs. Would it be sane to have the subpackages each depend on the base package - but have the base package contain docs?

[2017-07-13 18:56] alram opened #70 "Add a per-host filter on OSD node detail?"
On a cluster with a large number of hosts (36 in that case), the data can be very difficult to read. I'm not sure adding a per host filter is the right solution however.

![grafana1](https://user-images.githubusercontent.com/660521/28182824-2df69b64-67c2-11e7-97ba-baabcc57844f.png)
![grafana2](https://user-images.githubusercontent.com/660521/28182834-35b21586-67c2-11e7-8152-4e42098d2f71.png)

[2017-07-13 19:36] zmc commented on #70
Good point. With 95 osds:
<img width="1113" alt="screen shot 2017-07-13 at 1 35 17 pm" src="https://user-images.githubusercontent.com/58307/28184324-3427a9a2-67d0-11e7-99b9-c4496822e540.png">

[2017-07-13 19:40] zmc commented on #70
In the past I've created dashboards, that are implemented in JavaScript instead of JSON, which take arguments. Here is [an example](https://github.com/ceph/ceph-cm-ansible/blob/master/roles/pcp/files/index.js). I could see us providing a JSON dashboard containing links to JS-generated dashboards which each detail a single node - if that'd be useful.

[2017-07-13 21:12] zmc commented on #61
I'll have a PR ready for this once we get #69 merged

[2017-07-13 23:07] pcuzner opened #72 "at-a-glance OSD CPU spark line color is misleading"
Spark line color is red - which normally means a problem. Need to review the colors in the 3 layer of panels for consistency.

[2017-07-13 23:10] pcuzner opened #73 "RGW Dashboard initial graph needs to be fixed height"
The RGW overview total requests per sec expands automatically if there are lots of rgw hosts. This is fine, but it throws the panel layout out, resulting in the second layer of charts being offset due to this first panel's height.

Fixing the panel to 230 resolves the issue

[2017-07-13 23:11] pcuzner opened #74 "RGW collector missing stats"
RGW collector should include metrics to indicate RGW throttling behaviour

[2017-07-13 23:14] pcuzner opened #75 "OSD hosts calculation is incorrect"
The mon collector determines the number of osd hosts in the cluster by looking at the number of unique host names in ceph osd tree. This strategy fails however, when a custom crushmap is used to set up different pools across the same physical hosts

The result is that the OSD Hosts panel shows a higher number of hosts than actually exists.

The OSD collector could count the osd's it has and store

[2017-07-13 23:17] pcuzner commented on #75
Doh...duplicate of #66.

[2017-07-13 23:17] #75 closed

[2017-07-13 23:19] pcuzner commented on #66
The issue is that the name used in crushmap is just a logical name - not a physical host.

The OSD collector could count the osd's it has and store that to graphite. The OSD hosts panel can then count the number of metrics that contain the osd_count to determine the OSD host count - with a countSeries query.

[2017-07-14 04:17] pcuzner commented on #70
you know you can click on a drive name to just show a single drive though right? And 95 osd's on a single nodes is just shy of madness..

But yes I agree! With a lot of osd's on a node the graph is just not funny.

We can fix it though
![grafana - osd node detail](https://user-images.githubusercontent.com/3703087/28198140-db5be92e-68af-11e7-80a6-9c8acc5c9ff6.png)

Does that work for you guys? @zmc

[2017-07-14 11:29] b-ranto commented on #65
Yeah, that would be doable and from the packaging point probably even preferred since the base package would contain the licence file which iirc should get installed always.

[2017-07-14 15:14] alram commented on #70
I think it just might. Thanks.
When I click on a drive though is there a way to know which host it's on? In the graph I uploaded, we have 36 hosts with 12 OSDs eachs so that might be a bit tricky

[2017-07-14 18:31] scheuk opened #76 "RHSC Compatibility"
After upgrading our cluster from Ceph 1.3 to 2.3 we now have RHSC installed.
It does roughly the same thing that this project does (collectd and graphite).
If I wanted to use this project instead of RHSC should it be setup against hosts that don't have any connection to a RHSC?

[2017-07-14 22:19] pcuzner commented on #70
I think the penny has dropped. So you're going straight to the osd node detail dashboard?

If so, the osd_servers variable is all nodes - which is why you see the picasso. We can expose the osd_server value too on this dashboard, so you can pick which your interested in

[2017-07-17 22:14] bengland2 opened #77 "some graphs never fill in"
some of the grafana displays never fill in, and it's reallly not obvious why.  See [here for example](https://s3.amazonaws.com/ben-england/ceph/Screenshot+from+2017-07-17+18-03-02.png).  Could it state why there is no data if it doesn't display a graph?  ceph -s shows cluster is healthy, and has been up for over 1 hour.  Some of the graphs have red triangle in them and when I hover over that, it j

[2017-07-17 23:13] pcuzner commented on #76
@scheuk cephmetrics is just monitoring, so it depends what your goals are.

Although RHSC uses collectd/graphite I haven't done any side by side deployments to know whether they can co-exist. It should be OK - the metrics sent to graphite are named differently for example but it's not been tested AFAIK

[2017-07-17 23:15] pcuzner commented on #77
@bengland2 if the graphs are empty, the data is not getting to graphite. If you open a browser to the monitoring host at port 80 you should see the graphite web interface. Can you check there that there are metrics. If there is nothing listed we need to look at the collectors.

[2017-07-18 13:14] bengland2 commented on #63
This is not reproducible, want to close it.

[2017-07-18 19:09] bengland2 commented on #77
It was port 8080, not port 80, but ok, I opened it, there are a lot of metrics, but not seeing data in any of them yet.  So suspecting collectd.

[2017-07-19 13:11] bengland2 commented on #77
Paul, thanks a lot, it's working better, really cool data.  Problems that remain:

- ceph - rados graph shows all zeroes
- OSD latency graph screen gets 503 internal server error.

if you think its appropriate I'll create separate issues for these.

[2017-07-19 19:57] pcuzner commented on #77
@bengland2 The reason for your empty rados data is empty data coming from the monitor's admin socket. When I did a perf dump the cluster counters for osd_bytes num_pgs were all zero. Since that's the source of the data, the charts will be blank. Could you update to 12.1.1 and see if the counters are populated.

As for the OSD latency graph, this is down to bluestore. I need to confirm the specific

[2017-07-19 20:00] pcuzner opened #78 "Implement bluestore support in the osd collector"
The osd collector provides OS and OSD level performance metrics for filestore based OSDs, but only os level metrics for bluestore OSDs.

Bluestore metrics should be exposed within the cephmetrics dashboards

[2017-07-19 21:51] bengland2 commented on #77
ok, I upgraded everything on those hosts, rebooted, and ceph-mgr did not come back on its own.  But when I got that back up, I observed  12.1.1 installed on monitors and non-zero counters:

    # ceph daemon /var/run/ceph/ceph-mon*asok perf dump

    "cluster": {
        "num_mon": 3,
        "num_mon_quorum": 3,
        "num_osd": 8,
        "num_osd_up": 8,
        "num_osd_in": 8,
        "osd_

[2017-07-20 05:49] pcuzner commented on #77
@bengland2 yep we moved on to the next challenge with luminous :smile:

ceph health command no longer gives all the data that I get from jewel/kraken ... so I needed to refactor the health code to account for the lack of information.

I also had to turn of selinux - it was blocking the osd collector accessing the files on the osd mount points.

Anyway take a look now. metrics are now showing - apa

[2017-07-20 21:59] #61 closed

[2017-07-21 21:45] pcuzner opened #80 "RGW dashboard should show load by client"
Ideally the RGW information should be broken down by client, so you can see which client is potentially monopolizing a radosgw.

[2017-07-25 13:07] Daniel-Pivonka opened #82 "CentOS compatibility"
i have a hyper converged cloud deployed via tripleo quickstart with 3 controllers and 3 osd compute nodes and I've attempted to deploy cephmetrics via ansible but it failed.  The nodes are based on centos images and not rhel images so the install fails because the playbook uses the subscription-manager to do something which is not possible on a centos image i believe. is there a way around this? i

[2017-07-25 16:07] scheuk commented on #82
Dan from the code,
If you setup the upstream repos manually you can run it with --skip-tags repos
which tells ansible to skip installing the repos
Or in ansible terms, any ansibe tasks with the label of repos

[2017-07-26 21:51] pcuzner opened #83 "provide a widget to show ratio of bluestore vs filestore OSDs"

[2017-07-27 13:59] scheuk commented on #76
Sounds good, we decided to install it without RHSC.

[2017-07-27 13:59] #76 closed

[2017-07-27 17:13] scheuk opened #84 "RFE: cephmetrics should be able to pull metrics for a dmcrypt OSD"
I just got cephmetrics installed and the dashboards are awesome!
Good jobs guys, however cephmetrics is not working on our OSD hosts because we use dmcrypt for our OSD devices, IE we deployed the osds with `ceph-disk prepare --dmcrypt /dev/sdX`

Collectd is erroring on getting stats for the disk, here's the error message from collectd:
[code]

[2017-07-27 17:25] scheuk opened #85 "collectd-ping and collectd-disk don't get installed on collectd hosts"
After the initial deploy, collectd did not start with an error about missing ping.
After some troubleshooting the ping collector was not installed, we installed the collectd-ping and collectd-disk packages and collectd was able to start.
here's the ansible tasks we added to install those:

[code]

[2017-07-27 19:51] pcuzner commented on #85
I'm not sure where this requirement is coming from. The metrics used in the dashboard don't use collectd-disk or collectd-ping data. However, I know that at least the ping plugin was used for Tendrl (Red Hat Storage Console v2). Assigning to Zack to comment

[2017-07-27 19:53] pcuzner commented on #84
@scheuk Thanks for the output - that makes a lot of sense. The osd collector needs to account for the dm name for the device, instead of the physical device name. I'll set something up locally to test a fix.

[2017-07-27 19:56] pcuzner commented on #80
so I looked at various ways to implement this - but without the per client data being exposed by radosgw they all revolve around packet capture and summarisation. I'm currently working on an additional plugin outside of the rgw cephmetrics module to deliver this.

[2017-07-27 20:21] scheuk commented on #85
I bet these were left over from the collectd install and setup from RHSC.
When I test again, I'll make sure to clean up /etc/collectd and /etc/collectd.d/* before install cephmetrics again.

[2017-07-27 20:36] zmc commented on #85
We don't have `collectd-disk` or `collectd-ping` installed anywhere I've tested cephmetrics, and I haven't seen these errors. Looks like a left-over configuration.

[2017-07-27 20:36] #85 closed

[2017-07-27 20:40] zmc opened #86 "Unit tests"
We need unit tests. One roadblock is the current organization of the python modules; I'm working on converting cephmetrics' python code into a package.

Another issue is that collectd's python module is only available in the context of collectd itself importing the plugin, due to the way collectd's `python.so` is constructed.

[2017-07-28 02:33] pcuzner commented on #84
@scheuk can you try the osd.py and common.py versions in the dmcrypt-support branch to see if this resolves the issue. The update also adds a couple of flags - encrypted and osd_type so there is some potential there for tracking migration from filestore to bluestore, or even making sure all the osd's are actually encrypted.

Just copy over the new versions "/usr/lib64/collectd/cephmetrics/collecto

[2017-07-28 10:23] scheuk commented on #84
@pcuzner
I just tested your update and collectd is now working correctly and I'm seeing whisper files for the osds and journals, thanks for the quick turnaround!

[2017-08-01 13:40] scheuk commented on #84
now that's it's merged closing RFE

[2017-08-01 13:40] #84 closed

[2017-08-01 20:31] b-ranto commented on #65
I think we can just drop the dependency as in

https://github.com/ceph/cephmetrics/pull/89

In this case, it will also help us separate the dependencies for the dashboard and the collectors.

[2017-08-02 02:46] pcuzner commented on #73
fixed in #79

[2017-08-02 02:46] #73 closed

[2017-08-02 02:46] pcuzner commented on #72
fixed in #79

[2017-08-02 02:46] #72 closed

[2017-08-02 02:47] pcuzner commented on #68
fixed on #79

[2017-08-02 02:47] #68 closed

[2017-08-02 02:48] pcuzner commented on #70
osd-node-detail dashboard in #90 now provides this level of functioality

[2017-08-02 02:48] #70 closed

[2017-08-02 02:49] pcuzner commented on #60
resolved in #64

[2017-08-02 02:49] #60 closed

[2017-08-02 02:53] pcuzner commented on #66
fixed in #79

[2017-08-02 02:53] #66 closed

[2017-08-02 02:54] pcuzner commented on #83
feature in #90

[2017-08-02 03:00] pcuzner commented on #67
fixed in #79

[2017-08-02 03:00] #67 closed

[2017-08-02 03:03] pcuzner commented on #65
resolved in #89

[2017-08-02 03:03] #65 closed

[2017-08-02 03:03] pcuzner commented on #63
Closing as per request

[2017-08-02 03:03] #63 closed

[2017-08-02 03:04] pcuzner commented on #55
This should no longer occur. @zmc Can you please on latest dashboards, and close if resolved.

[2017-08-02 18:51] b-ranto commented on #38
I think we can close this now that we have the builds ready.

[2017-08-02 18:51] #38 closed

[2017-08-04 05:25] pcuzner commented on #83
#90 now merged

[2017-08-04 05:25] #83 closed

[2017-08-05 11:48] scheuk opened #91 "gracefully handling single OSD failure"
I just had an issue with one OSD on a data node where it didn't respond to perf dump on it's admin socket. This caused the error message from collectd, which caused no stats to be collected.
I wonder if there could be some better logic around failures of collecting 'perf dump'

[code]

[2017-08-07 21:54] pcuzner commented on #91
@scheuk Thanks for raising the issue. I'll look it into. I need to complete some other work first, so it may take a couple of days.

[2017-08-07 21:55] pcuzner commented on #77
@bengland2 is this still an issue for you, or can this be closed?

[2017-08-08 00:06] bengland2 commented on #77
unfortunately I just pulled latest cephmetrics tonite and it is actually giving me less info than before :-(  This is with bluestore, I'll try it again with filestore and see if that's better.  Luminous version ceph-common-12.1.2-0.el7.x86_64.

[2017-08-08 00:26] pcuzner commented on #77
has selinux been turned back on?
is ceph running with mon_health_preluminous_compat=true in ceph.conf?

[2017-08-08 00:46] bengland2 commented on #77
selinux was in permissive mode, I'm disabling it and will try again later, update here.
ceph is not running with mon_health_preluminous_compat=true.   Did you want that set or not?

[2017-08-08 01:12] pcuzner commented on #77
yes - have that value set for the cluster on Luminous. On Luminous the default from ceph health is pretty light on detail - with this setting, the collector can see more. Can you also check the collectd daemon is ok - at least on the mon's?

[2017-08-08 18:09] zmc opened #93 "iSCSI deployment"
- [ ] [rtslib_fb python module](https://github.com/ceph/cephmetrics/pull/92/files#r131789702)

[2017-08-08 19:46] zmc opened #94 "iscsi PR broke collectors"
[code]

[2017-08-08 20:19] pcuzner commented on #94
OK - need to conditionally import rtslib...working on this now.

[2017-08-08 21:50] pcuzner commented on #94
PR #95 submitted to resolve

[2017-08-09 20:37] pcuzner commented on #94
@zmc can you confirm this is now resolved please?

[2017-08-09 21:32] zmc commented on #94
It is, thanks!

[2017-08-09 21:32] #94 closed

[2017-08-10 05:35] pcuzner commented on #93
Here's the background
The iscsi collector needs rtslib_fb to interogate sysfs for the LIO configuration - but the catch is rtslib_fb is not installed everywhere within a ceph cluster. The current strategy is to perform a conditional import of rtslib when an instance of the ISCSIGateway class is created - this way the same collectors can be shipped everywhere, and the import of rtslib only happens

[2017-08-15 11:47] bengland2 commented on #77
one reason the playbook doesn't work for bluestore is a set of errors like this:

TASK [ceph-collectd : Restore SELinux context of OSD journals] *****************
skipping: [ip-172-31-39-180] => {"changed": false, "skip_reason": "Conditional check failed", "skipped": true}
fatal: [ip-172-31-55-42]: FAILED! => {"changed": true, "cmd": "restorecon -R -v /var/lib/ceph/osd/*/journal", "delta": "0:00:0

[2017-08-15 17:33] bengland2 commented on #77
I tried skipping the step in .-1 and now all the nodes are visible, data is coming in fine, really great.  Watching a cluster boot in grafana is nice demo.    Why is it necessary to restorecon on the journal softlink in the first place?

[2017-08-15 22:28] bengland2 commented on #78
See [this comment](https://github.com/ceph/cephmetrics/issues/77#issuecomment-322446172) .  For how to get it to deploy.  But I'm sure there are other things that need to change too.  In Ceph OSD information dashboard, it assumes you are running filestore.

[2017-08-15 22:32] pcuzner commented on #78
Yep - working on that next :) The osd information dashboard exposes filestore related metrics currently. I'll be adding a separate row for bluestore performance metrics, and need to look at how I determine disk capacity since the same metrics are not present between the two backends.

[2017-08-15 22:33] bengland2 commented on #78
in "OSD Node Detail" dashboard, it also assumes you are using disks.   Maybe we should call them "storage devices" or "block devices" or something like that.

Also, it seems to ignore devices where SSD journal/block.wal/block.db live.

[2017-08-15 22:49] bengland2 commented on #78
re .-2: can you ask the OSD how much space it has?  I don't see a way.  Seems like bluestore would have to provide this info since there is no mountable filesystem you can query anymore.

[2017-08-15 22:52] bengland2 commented on #78
ceph osd status command seems to have this information.

    [root@ip-172-31-30-186 ~]# ceph osd status
    +----+---------------------------------------------+-------+-------+--------+---------+--------+---------+
    | id |                     host                    |  used | avail | wr ops | wr data | rd ops | rd data |
    +----+---------------------------------------------+-------+-------+--

[2017-08-17 02:07] bengland2 opened #98 "no utilization stats for SSD journals"
For non-collocated OSDs, it would be nice to graph I/O on the journal devices.  We might not want to put SSD  devices in same graph as HDD devices for a IOPS or transfer rate graph, but it would be really useful to see utilization - i.e. are the SSDs over/undersubscribed?

[2017-08-17 03:18] pcuzner commented on #98
The journal stats are stored in graphite - I just don't currently expose them in a chart :) To get the journal device; for filestore I follow the journal link and for bluestore the wal link (if it's split out)

I'll flag this as an enhancement request - where would you expect to see this data presented (which dashboard)?

[2017-08-17 04:30] pcuzner commented on #91
@scheuk I have a change nearly ready to submit for this. Basically the absence of the OSD's socket will no longer raise an exception, but instead flag an error to the collectors log file and to collectd's.

Does this sound like a reasonable way to deal with this?

[2017-08-17 04:31] pcuzner commented on #55
closing as no longer seen in Sepia demo environment

[2017-08-17 04:31] #55 closed

[2017-08-17 04:32] #42 closed

[2017-08-17 04:32] #4 closed

[2017-08-18 19:44] bengland2 opened #99 "allowing all dashboards to reference a user-specified time range"
I couldn't get all dashboards to restrict the time range to a specified interval, but if you click on a widget within a dashboard and it takes you to another one, the time range is preserved, so there is inconsistent behavior.  Even with relative time ranges, if you change it in one dashboard it isn't changed in the others.
 Why is this important?  Let's say I have a test result, or there was a pe

[2017-08-21 06:00] pcuzner commented on #91
PR #100 should handle this issue

[2017-08-21 06:00] pcuzner commented on #78
Bluestore support is provided by PR #100

[2017-08-21 06:04] pcuzner commented on #99
It's inconsistent in that there isn't an overarching time window that every dashboard will honour. However, all the linked dashboards (i think) from at-a-glance pass through the time window - so is it not possible to select the time range from at-a-glance, and then link from there to the other dashboards given I pass the time window across? Each linked dashboard opens a new tab so you can switch b

[2017-08-21 08:07] pcuzner opened #101 "stopping and restarting mon causes issues in collectd"
The collector samples health stats from the mon admin socket. When the monitor is shutdown, the collector hits an exception which is picked up by collectd. collectd responds by suspending the collector over increasing intervals until the collector stops failing.

Goal : the collectors should
a) probe for the presence of the ceph-mon binary to determine role
b) if the socket returns an empty set si

[2017-08-21 21:55] pcuzner opened #102 "planned osd support of lvmcache conflicts with dmcrypt logic in osd collector"
The osd collector determines encryption state by looking at the device path. If devmapper is used, up until this point it means dmcrypt is active - but once lvmcache is supported, devmapper paths will also be present for that use case.

The detection logic therefore needs to change to account for these two devmapper use cases.

[2017-08-22 12:24] scheuk commented on #91
@pcuzner that sounds good, but what if the socket exists and the process is not responding to perf dump, like the OSD is busy? IE you run `ceph ... perf dump` but it just hangs and never completes.

[2017-08-22 17:25] djgalloway opened #104 "Capacity Utilization reports wrong usage"
I was looking at `ceph df` output on the Sepia cluster because we've maxed it out a few times over the past month and noticed cephmetrics is reporting the RAW USED percentage.

I think the better method would be to sum the USED% of all the RBD pools.

When the cluster was completely full and preventing writes last week, all 4 pools reported 100% usage.

[code]

[2017-08-22 17:30] djgalloway opened #105 ""Health History - Last 3 Days" graph is a little confusing"
It took some thinking but I'm guessing if the green line is above the yellow bar, the cluster's in HEALTH_WARN and HEALTH_ERR if above the red line?

Could the red and yellow lines be labeled?

Also why are there three of the same "Ceph Health" keys in the legend at the bottom?

![image](https://user-images.githubusercontent.com/11281208/29578663-0d46ba20-873e-11e7-8dcc-b2a84f714b58.png)

[2017-08-22 17:33] djgalloway opened #106 ""At A Glance" view shows incorrect OSD out count"
The cephmetrics instance monitoring our Sepia cluster shows -1 OSDs out.  There is indeed one down but we have the noout flag set.

![image](https://user-images.githubusercontent.com/11281208/29578756-6a0ab1b2-873e-11e7-9c20-e26b0e9b8e23.png)

[2017-08-22 17:45] djgalloway opened #107 "MDS count incorrect?"
This may be intentional but the Sepia cluster has 3 MDSes.  Of course two are standbys but cephmetrics only shows 1.

[code]

[2017-08-22 20:20] pcuzner commented on #105
I thought the same thing about labelling the threshold lines, but AFAIK, Grafana doesn't support that. I've tried to explain the chart a bit more in the tooltip (i - top left).

You see 3 keys in the legend, because you're on an older chart (the current version should just show ine legend entry)

[2017-08-22 20:26] pcuzner commented on #104
I think the at-a-glance view of raw consumption is OK - but cephmetrics should to drill down further to expose pool level capacity, and add a corresponding alert. Flagging this as an RFE

[2017-08-22 20:29] pcuzner commented on #107
the mds count is from num_mds_in - so it's basically the active count. Do you think the mds panel should show in/up/failed in a similar way to the mon panel?

[2017-08-22 20:32] pcuzner commented on #106
Yep - this is a bug. The 'out' value is calculated based on the other metrics and can't account for the setting of noout. If it's not helpful it should be removed - do you agree?

[2017-08-22 20:34] zmc commented on #104
Perhaps we should look at merging the `pools` subdict of `ceph df -f json` into the `pools` subdict of `Mon.get_stats()`

[2017-08-22 20:41] djgalloway commented on #107
Definitely!  Hadn't thought of that.  I think that's a great solution.

[2017-08-22 20:42] djgalloway commented on #106
What are the other metrics?

Total OSDs minus In OSDs should suffice, no?

[2017-08-22 22:05] pcuzner commented on #104
+1 that gets the data, then we need to visualise and add the alert in place. I'll add a task to the to-do board to reflect what needs to be done.

[2017-08-23 21:23] pcuzner commented on #91
@scheuk so what you're asking for is effectively a timeout on a perf dump call? The admin_socket interaction is provided by a base class, so if we change that to timeout we'll get the same timeout behaviour across mon/rgw and osd interactions. If you can confirm this is what you need to address issues you see in you clusters, I'll add to the backlog (projects -> feature roadmap) tracker

[2017-08-25 02:17] scheuk commented on #91
@pcuzner yes looking for a timeout on the perf dump call, that's what I'm looking for.

[2017-08-25 06:17] pcuzner commented on #91
Cool - checkout the feature plan https://github.com/ceph/cephmetrics/projects/3

the timeout is listed in the ideas section. Not sure you can add directly, but if you have things you'd like to see try to add to the ideas board, and if that doesn't work raise an issue and document it that way

[2017-08-29 20:09] zmc commented on #104
- [ ] update the mon collector to gather pool usage metrics
- [ ] add/modify dashboard
- [ ] add pool usage alert definition

[2017-09-05 21:39] zmc commented on #101
https://github.com/ceph/cephmetrics/pull/108

[2017-09-05 21:39] #101 closed

[2017-09-06 20:23] pcuzner commented on #91
@scheuk can you try using the base.py module from the add-timeout branch in your environment to see if this addresses the hanging perf dump issue?

[2017-09-06 20:25] pcuzner commented on #104
resolved in #112

[2017-09-06 20:25] #104 closed

[2017-09-07 20:08] zmc opened #113 "Health alert flapping incorrectly"
During a cluster upgrade I observed some very strange flapping in the health alert. The health status itself was stable during this time:
<img width="1011" alt="screen shot 2017-09-07 at 2 06 24 pm" src="https://user-images.githubusercontent.com/58307/30182933-ce7b6710-93d5-11e7-9ad6-69a1aeeb541b.png">

Changing the alert condition from `last()` to `max()` appears to fix this.

[2017-09-07 20:31] scheuk opened #115 "getting collectd error on mons after update"
Unhandled python exception in read callback: KeyError: u'.intent-log'

Here's a list of pools on the cluster:
$ ceph osd pool ls
.intent-log
.log
.rgw
.rgw.buckets
.rgw.buckets.extra
.rgw.buckets.index
.rgw.control
.rgw.gc
.rgw.root
.usage
.users
.users.email
.users.swift
.users.uid

[2017-09-08 10:19] pcuzner commented on #115
can you provide the traceback? Is this from the latest master or the test add-timeout branch?

[2017-09-08 12:52] scheuk commented on #115
@pcuzner this is from the latest master, how do I get a traceback from the collectd plugin?

[2017-09-08 20:26] zmc commented on #115
This is actually something I meant to introduce a while back. I just filed
a PR with the required change, but it's trivial to do it manually in the
meantime.

https://github.com/ceph/cephmetrics/pull/117

On Fri, Sep 8, 2017 at 6:52 AM, Kevin Scheunemann <notifications@github.com>
wrote:

[2017-09-11 21:38] GregMeno opened #118 "Setup Log rotation for graphite logs"
@zmc has details about specifically what needs rotating

[2017-09-13 00:02] pcuzner commented on #107
Update already active in Sepia, and PR #119 brings those changes into master

[2017-09-13 00:02] #107 closed

[2017-09-13 00:03] pcuzner commented on #106
resolved in PR #119

[2017-09-13 00:03] #106 closed

[2017-09-13 19:19] scheuk commented on #115
@pcuzner here's the error:

Sep 13 15:17:11 mon1-lab-00.blah.com systemd[1]: Started Collectd statistics daemon.
Sep 13 15:17:11 mon1-lab-00.blah.com collectd[11885]: Systemd detected, trying to signal readyness.
Sep 13 15:17:11 mon1-lab-00.blah.com collectd[11885]: Initialization complete, entering read-loop.
Sep 13 15:17:11 mon1-lab-00.blah.com collectd[11885]: Unhandled python exception in read

[2017-09-13 19:21] scheuk commented on #91
@pcuzner we managed to clear up the problem with timing out OSDs, I don't know if I can re-replicate the problem

[2017-09-13 19:26] scheuk commented on #115
ok digging into the code it looks like you do a `ceph osd pool stats --format json` or similar command, here's the output of that from my cluster:

[root@mon1-lab-00 ~]# ceph osd pool stats --format json

[{"pool_name":".intent-log","pool_id":45,"recovery":{},"recovery_rate":{},"client_io_rate":{}},{"pool_name":".log","pool_id":46,"recovery":{},"recovery_rate":{},"client_io_rate":{}},{"pool_name":

[2017-09-13 19:27] scheuk commented on #115
we are running ceph 2.4/ jewel 10.2.7
[root@mon1-lab-00 ~]# ceph -v
ceph version 10.2.7-32.el7cp (ef49626371ba965ec4d3f8eff67a811528c0a334)

[2017-09-15 04:38] pcuzner commented on #115
@scheuk can you please try the latest master or rpms from download.ceph.com to confirm that this fixes your issue. Local tests have been successful.

[2017-09-15 04:39] pcuzner commented on #113
fix merged

[2017-09-15 04:39] #113 closed

[2017-09-15 04:40] pcuzner commented on #82
@Daniel-Pivonka can you confirm that this issue is resolved please?

[2017-09-15 04:41] pcuzner commented on #99
The above workaround has been discussed, and since there is nothing cephmetrics can do to fix this, I'm closing the issue

[2017-09-15 04:41] #99 closed

[2017-09-15 04:42] #78 closed

[2017-09-15 17:34] scheuk commented on #115
@pcuzner I just deployed the laster master last commit was <098fb9a59de0827b85f1dcbc4f36bce2220f96a0>

Now the plugin is saying it can't get the radosgw metric:

collectd[17360]: cephmetrics error: RGW - RGW socket not available...radosgw running?

[2017-09-15 17:59] scheuk commented on #115
here's what in the socket directory:
[root@mon1-lab-00 ~]# ls -l /var/run/ceph/
total 0
srwxr-xr-x. 1 ceph ceph 0 Sep 12 13:50 ceph-client.rgw.mon1-lab-00.asok
srwxr-xr-x. 1 ceph ceph 0 Sep 12 13:50 ceph-mon.mon1-lab-00.asok

[2017-09-19 00:19] pcuzner commented on #115
@scheuk looks like the socket names are different in your environment, and the glob pattern I'm using didn't find them. I've corrected this now on master - please refresh at least the rgw collector in your environment.

I have some dashboard updates in test at the moment, which may also hit master this week which you may find useful (rgw hosts up/down, osd hosts up/down)

[2017-09-20 22:07] pcuzner opened #122 "Add file logging to dashUpdater for diagnostics"
To add to the messages in the ansible output, we should have a logfile with more debug info available

[2017-09-21 15:21] zmc opened #123 "ansible: Check that inventory uses FQDNs and not IPs"

[2017-09-26 00:01] zmc opened #127 "ansible: Enable necessary RHSM repos"
I'm not sure how to do this just yet, as the desired repo names will depend on the version of RHCS being used. But the repos we'd need, I believe, are:

- rhel-7-server-rhceph-X-mon-rpms
- rhel-7-server-rhceph-X-osd-rpms
- rhel-7-server-rhceph-X-tools-rpms

[2017-09-27 17:44] scheuk commented on #115
ok everything seem so to be working,
Thanks @pcuzner

[2017-09-27 17:44] #115 closed

[2017-09-28 00:42] pcuzner commented on #91
closing - please reopen if the issue re-occurs

[2017-09-28 00:42] #91 closed

[2017-09-28 19:18] jeanchlopez opened #130 "List of filesystems does not get refreshed"
Just tested 12.2.1 and was playing with multiple filesystems (CephFS), creating some and deleting some. After I have removed one FS, the list of FS available in the UI isn't updated and if you click on the one that was removed you get to an error page. Not a major issue as by default multiple FS is still disabled by default but just in case.

Restarting the Manager daemon fixes the refresh of the

[2017-09-28 22:39] zmc commented on #130
@jeanchlopez this traceback is coming from ceph-mgr itself; could you file a bug with Ceph?

[2017-09-28 22:39] #130 closed

[2017-09-28 22:43] jeanchlopez commented on #130
Sure

[2017-09-28 22:44] zmc opened #131 "Calculate whisper storage requirements ahead of time"
(and, of course, warn if the host's storage isn't sufficient).

See http://m30m.github.io/whisper-calculator/

[2017-10-02 18:17] scheuk opened #133 "The RGW workload page is missing some RGW hosts"
We have 5 hosts running radosgw and the RGW workload page shows only 3, also some of the graphs also show only 3 hosts. see the image below:

![screen shot 2017-10-02 at 2 14 43 pm](https://user-images.githubusercontent.com/1770185/31092401-541e298e-a77c-11e7-9e50-5d42282fdf2a.png)

[2017-10-03 00:14] pcuzner commented on #133
things to check
1. look at the collectd-cephmetrics.log file on the missing hosts to confirm that it's detected the rgw role correctly
2. check the collectd conf to ensure it's not sending the data under the same hostname as one of the others (i.e. if the collectd.conf has a "Hostname" setting that clashes with one of the other nodes)
3. look in graphite web for the metrics. each rgw collector wil

[2017-10-03 15:07] scheuk commented on #133
@pcuzner yes it was #4
Does that get set with ansible when it imports the template?

[2017-10-03 15:13] scheuk commented on #133
@pcuzner I answered my own question
the template pulls in the [rgw] inventory group
rgw_servers: [{% for fqdn in groups['rgws'] | default([]) %}{{ fqdn.split('.')[0] }},{% endfor %}]

[2017-10-03 15:23] #133 closed

[2017-10-03 20:28] zmc opened #134 "Update docs referring to RHEL repos"
Related: https://github.com/ceph/cephmetrics/pull/132

[2017-10-03 20:30] zmc commented on #82
Please reopen if this is still an issue

[2017-10-03 20:30] #82 closed

[2017-10-03 20:32] zmc commented on #131
This is a bit more complex than I thought: to calculate the storage requirements, we need to know the total amount of metrics we'll store. A given host submits metrics based on its role - so to do this right we'd need to know how many metrics each host will submit before deployment.

[2017-10-05 21:09] zmc commented on #127
Looks like we're just going to have users do this manually.

[2017-10-05 21:09] #127 closed

[2017-10-05 21:13] zmc commented on #77
@bengland2 @pcuzner Just want to close the loop on this - is it resolved or is the above question something that needs to be answered?

[2017-10-05 22:24] bengland2 commented on #77
sorry, I haven't got an answer quite yet, have had to switch over to linode from AWS but am there now, will try to get back to you in 1 week with this, but close it if you know you fixed it.

[2017-10-19 18:05] scheuk opened #145 "graphite-web version"
what version of graphite-web should be installed?

I current have:
graphite-web-0.9.15-1.el7scon.noarch
installed form the cephmetrics repo,

But I'm getting an error in the  Create Graphite DB tables task:

TASK [ceph-grafana : Create Graphite DB tables] ********************************
fatal: [mgmt1-lab-00]: FAILED! => {"changed": true, "cmd": ["/usr/bin/graphite-manage", "migrate", "--noinput"]

[2017-10-23 20:34] pcuzner commented on #145
I just checked the downstream repo too, and this is 0.9.15-1 too. What confuses me further is that our QA guys have deployed successfully !?! More digging required.

[2017-10-23 21:09] zmc commented on #145
@scheuk Please check your `python-django` and `python-django-tagging` versions. The repo has `1.8.18-1.el7ost` and `0.3.6-1.el7ost` respectively, and I'm nearly certain you've got older versions installed.

[2017-10-24 13:15] scheuk commented on #145
@zmc correct, I am seeing the older versions of django installed,
However, I'm not seeing 1.8.18-1.el7ost in the development repo as well:
https://chacra.ceph.com/r/cephmetrics/master/HEAD/rhel/7/flavors/default/noarch/

[2017-10-24 18:13] zmc commented on #145
@scheuk oh, this makes more sense now. Those repos aren't being updated with updated pre-release packages for RHEL. @b-ranto / @pcuzner: We need to figure out how we should deliver them...

[2017-10-24 21:05] b-ranto commented on #145
@zmc There are pretty much two ways to do that (well, three but...). We can either Require a specific version (well, `>=` a certain version) of the packages in the spec file or we can add an ansible `package` task with `state: latest` to the ansible scripts.

The former solution should be the preferred one but it requires us to build our own version of graphite-web as that is the package that actu

[2017-10-26 06:08] ltrilety commented on #145
Working for me with graphite-web-0.9.15-1.el7scon.noarch, no fails in the cephmetrics install.
BTW I have these installed:
python-django-1.8.18-1.el7ost.noarch
python-django-bash-completion-1.8.18-1.el7ost.noarch
python-django-tagging-0.3.6-1.el7ost.noarch

[2017-10-26 16:41] b-ranto commented on #145
Hmm, I thought this was talking about upgrades but apparently it is not. They were trying to deploy with a mixture of old and new repositories.

FYI: I ~recently pushed a patch to our ansible scripts to remove the old repository file in production mode so we should be pretty much good to go. In case of upgrades, you should always update all the packages to the latest version available by the packa

[2017-10-26 16:50] scheuk commented on #145
@b-ranto I saw that but when using `devel_mode: true`, the code will setup the development repo:

https://chacra.ceph.com/r/cephmetrics/master/HEAD/rhel/7/flavors/default/
And in those repos there is only the python-django-1.6.11-4.el7scon.noarch packages
and the python-django-1.8.18-1.el7ost.noarch package is not in that repo.

So to simplify: the updated python-django-1.8.18-1.el7ost.noarch pack

[2017-11-08 20:41] b-ranto commented on #145
Since the #149 was merged, this should work even with the old packages, now. I guess we can close this. We could probably update the packages at some point but afaik, the repo is mostly deprecated.

[2017-11-08 20:41] #145 closed

[2017-11-20 19:03] ltrilety opened #150 "cephmetrics-ansible iSCSI gateway not installed"
cephmetrics-ansible playbook.yml should install cephmetrics packages on machines, where ceph iSCSI gateways are.

[2017-12-12 01:41] jbiao opened #152 "'dict object' has no attribute 'datasource'"
Hello,
On a fresh installation, I have the following error

TASK [ceph-grafana : Set grafana_data_source] ***************************************************************************************************************************************************************
task path: /usr/share/cephmetrics-ansible/roles/ceph-grafana/tasks/configure_grafana.yml:51
fatal: [dell-per320-04.rhts.gsslab.pek.red

[2017-12-13 13:13] jeanchlopez opened #153 "Purge.yml Ansible playbook has a typo"
While testing setting up a Ceph Metrics cluster an issue in the purge.yml playbook file was found. The playbook list /var/lig/graphite-web instead of /var/lib/graphite-web.

[2017-12-14 04:32] badone commented on #152
This appears to be a downstream documentation bug as the doc advocates creating a vars.yml file with the following content.

grafana:
  admin_password: redhat

This appears to override the default definition of "grafana" in roles/ceph-grafana/defaults/main.yml and results in the "'dict object' has no attribute 'datasource'" error. A workaround appears to be adding a "datasource: Local" line to var

[2018-01-14 21:58] pcuzner opened #157 "dashboard(s) should show rgw multi-site status"
In a multisite environment, the admin needs to understand the replication/sync status.

[2018-01-16 12:51] ksingh7 opened #158 "cephmetrics deployment failed with bluestore Ceph Cluster"
I am using cephmetrics-1.0-7.el7cp.x86_64 with RHCS 3.0 and found that with bluestore cluster cephmetrics deployment fails at while restoring SELinux context for ``/var/lib/ceph/osd/*/journal`` which does not exists for bluestore

[code]

Bluestore directory hierarchy

[code]
Temporarily i have added ``ignore_errors: true`` to the task ``Restore SELinux context of OSD journals`` . For a cleaner fi

[2018-04-16 23:05] zmc commented on #86
Punted in favor of integration tests

[2018-04-16 23:05] #86 closed

[2018-04-17 18:51] zmc opened #161 "Fix deprecation warnings"
[code]

[2018-04-18 19:42] zmc opened #162 "Update documentation for mgr/prom release"

[2018-04-19 19:01] b-ranto opened #163 "Ceph at a glance dashboard is not starred"
We do not set the default dashboard in the current deployment.

[2018-04-19 19:04] b-ranto opened #164 "The containerized options are not defined properly"
The grafana.containerized and prometheus.containerized are defined in grafana and prometheus roles respectively. However, we access these variables in the docker role.

This works fine if you override the options with group_vars but won't work once we implement regular rpm deployment or if you modify the defaults files manually.

[2018-04-19 19:18] b-ranto commented on #164
FYI: I would vote for merging these options and putting the option to the common role. I have implemented the fix, here:

https://github.com/ceph/cephmetrics/pull/165

[2018-04-19 20:37] b-ranto commented on #163
This should be fixed by this PR:

https://github.com/ceph/cephmetrics/pull/165

[2018-05-01 21:58] zmc opened #168 "Set CPU/RAM limits on docker containers"

[2018-05-02 16:13] zmc opened #169 "Set up notification channel"
dashUpdater used to do this for us.

[2018-05-02 16:16] zmc opened #171 "Update based on RHS demo"

[2018-05-02 16:20] zmc opened #172 "Configure alert-status panels to send notifications to the 'cephmetrics' channel"
@pcuzner, I figure while you're updating most or all of the dashboards, this one shouldn't be too tough.

[2018-05-04 15:08] zmc commented on #169
Closing; referenced PR can be used to track progress.

[2018-05-04 15:08] #169 closed

[2018-05-04 18:38] zmc opened #174 "Ensure we're fixing the pie chart's colors for the light theme"

[2018-05-04 18:44] zmc commented on #174
@pcuzner it looks like the latest versions of the plugin have been adapted for v5's theme engine and no longer specify colors directly.

[2018-05-07 21:01] #164 closed

[2018-05-07 21:01] #163 closed

[2018-05-10 01:38] zmc opened #177 "ansible 2.5.1 breaks testing with pytest-xdist"
2.5.0 works fine. Here's the error:
[code]

[2018-05-10 18:49] zmc commented on #177
https://github.com/philpep/testinfra/pull/316

[2018-05-10 22:08] zmc opened #178 "Clean up test suite"

[2018-05-17 21:36] zmc commented on #158
https://github.com/ceph/cephmetrics/pull/182

[2018-05-17 21:36] #158 closed

[2018-05-17 22:12] zmc opened #184 "When a host is down, playbook execution will fail"
Need to document how to work around this. We don't want the user to just remove the host from the inventory (unless it's a permanent change), since it will be missing from `prometheus.yml`.

[2018-06-22 01:34] pcuzner opened #193 "Ceph at a Glance dashboard is not the default at login"
After the latest test rebuild, I logged in as admin and noticed that the home dashboard is not working. Looking at the play I can see that it's set, but the dashboard is not starred first..this is what dashUpdater did. Could you add a task that stars the dashboard, prior to making it the home dashboard?

http://docs.grafana.org/http_api/user/#star-a-dashboard

[2018-06-22 01:41] pcuzner opened #194 "Network Usage By Server dashboard bug"
The templating query for mon_servers returns mon.X, which fails to match against the hostname from the node_exporter, resulting in the Mon Hosts chart not containing any data.

The query needs to use /mon.(.*)/ to extract the name correctly

[2018-06-22 22:11] zmc commented on #193
Starring actually isn't related here. What must have happened here is that the home dashboard setting was changed for the admin user on the rhs_demo cluster using the web UI. Setting it on the org level only affects users that haven't done this.

I can make it so that we set the home dashboard for the org *and* the admin user.

[2018-06-29 01:59] pcuzner opened #202 "ceph status is incorrect on two dashboards"
ceph-at-a-glance health panel shows warning, when the cluster is in error
ceph health shows error state correctly but the color is yellow - should be red

Minor niggles, but need to be fixed.

[2018-07-12 01:55] dillaman opened #205 "Network utilization filters out standard 10GbE device names"
... a la p1p1, p5p2, etc.

[2018-07-12 12:53] dillaman opened #206 "Prometheus dashboards are tied to "Local" datasource"
The ansible installer configures a "prometheus" datasource, so lots of dashboards fail to load due to the missing data. These should either just use the "default" datasource or be switched to "prometheus".

[code]

[2018-07-12 12:59] dillaman opened #207 "Per-OSD dashboard should include read and write latency"
Something like the following:

quantile($percentile / 100, ceph_osd_op_r_latency_sum / ceph_osd_op_r_latency_count * 1000)
quantile($percentile / 100, ceph_osd_op_w_latency_sum / ceph_osd_op_w_latency_count * 1000)

It might also be nice to have a global latency view on the homepage (perhaps merged w/ the apply vs commit latency graph?).

[2018-07-12 23:15] pcuzner commented on #207
per osd read/write is a good idea. Need to think about the best place to put it though. The ceph osd information dashboard picks up all osd's so in a bigger cluster that'll be a mess. Maybe a percentile view would work under OSD Summary, and add the per osd r/w down into the filestore and bluestore sections that makes use of the osd id pulldown?

[2018-07-12 23:20] dillaman commented on #207
Yeah — even if it’s just a top-k high latency graph w/ the ability to drill down into OSDs by host or name if needed perhaps.

[2018-08-01 07:35] sogabe commented on #207
It would be nice to have views of both per OSD r/w and top-k high latency graph.

I've quick implemented the per OSD view on the ceph-overview for PoC. It seems very insightful information.

<img width="1221" alt="per-osd-op-latency-poc" src="https://user-images.githubusercontent.com/1396486/43507280-a122d9f4-95a7-11e8-9827-ddd131075fca.png">

[2018-08-03 02:38] pcuzner opened #213 "ceph-mgr role should also open port 9283"
When the ceph-mgr role enables the prometheus module, it should also open the port that the prometheus module listens on - 9283 - across all mgr hosts

[2018-08-03 02:42] pcuzner opened #214 "optionally enable port 9090 on the prometheus container"
9090 allows for adhoc graphing directly against prometheus. We should either support this by default, or have this feature defined in all.yml to allow the admin to open this port if required

[2018-08-07 18:42] zmc commented on #214
We already publish the port on the container host: https://github.com/ceph/cephmetrics/blob/master/ansible/roles/ceph-prometheus/tasks/setup_container.yml#L15

Is this meant to be about the firewall?

[2018-08-07 20:39] pcuzner commented on #205
@dillaman what platform were you using the see these interface names?

[2018-08-07 20:55] dillaman commented on #205
Platform? RHEL7 w/ a modern EFI/BIOS [1]

[1] https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/networking_guide/sec-consistent_network_device_naming_using_biosdevname

[2018-08-08 00:47] pcuzner commented on #214
yup

[2018-08-08 21:41] zmc commented on #206
@dillaman, we use "Local" as our datasource name: https://github.com/ceph/cephmetrics/blob/master/ansible/roles/ceph-grafana/defaults/main.yml#L16

Did you by chance override it?

[2018-08-09 02:51] pcuzner opened #217 "health alert only triggers on first state change"
The health alert trigger uses >0. When health changes to 1 (warn), the alert is fired, but a subsequent change from warn->error doesn't generate another alert since the value is already > 0.

This effects both the collectd and prometheus versions of cephmetrics

[2018-08-09 17:32] zmc commented on #206
@dillaman can I see the inventory and any group_vars files you're using?

[2018-08-09 17:41] zmc commented on #217
I notice that the only alert condition for that panel is for >0; perhaps if we add a second condition alerting at >1, it would fire twice? I have not tested this yet.

[2018-08-09 20:39] dillaman commented on #206
@zmc it’s been a month since I wrote this bug. I haven’t had his environment for weeks.

[2018-08-13 23:34] pcuzner commented on #194
closing as resolved

[2018-08-13 23:34] #194 closed

[2018-08-13 23:36] pcuzner commented on #174
@zmc can this be closed?

[2018-08-13 23:37] pcuzner commented on #172
closing as done

[2018-08-13 23:37] #172 closed

[2018-08-13 23:39] pcuzner commented on #217
The threshold is matched on the first clause and so doesn't fire again in grafana - this is one of the things that works better in prom alert manager

[2018-08-13 23:41] pcuzner commented on #193
closing as resolved

[2018-08-13 23:41] #193 closed

[2018-08-15 20:09] stef97 opened #218 "rgw collector not working"
Hi,

RGW socket is not discovered

I have changed rgw_sockets to this but still no luck

rgw_sockets = glob.glob('/var/run/ceph/ceph-client.rgw.*.asok')

I am using Mimic and the socket looks like this
/var/run/ceph/ceph-client.rgw.osd01.1519.94623440453632.asok

Any help will be truly appreciated as this is an AWESOME piece of software
Steven

[2018-08-15 21:46] pcuzner commented on #218
For mimic onwards we've switched from collectd to the embedded prometheus exporter in ceph-mgr. All perf stats are sent to the mgr anyway, so switching to this approach eliminates a lot of 'moving parts'.

However, if you're happy with collectd we should be able to help too. Starting from the top, the collector probes the host to look for the radosgw binary, and if found enables stats gathering. S

[2018-08-16 12:04] stef97 commented on #218
Thank you for your pormpt response

Role is detected but socket not found
Interesting part is that this server is OSD and RGW only ...not MON so,
maybe, the detection is not working as expected ??/

osd01.chi.medavail.net collectd[4959]: cephmetrics: Roles detected -
mon:True osd:True rgw:True iscsi:False

2018-08-16 08:01:25,086 - DEBUG   - [osd.py:132:_fetch_osd_stats() -
fetching osd stats for

[2018-08-21 11:26] stef97 commented on #218
any chance you can look into this ?
role discovery is not accurate on any of the ceph servers ( all are showing "true" for all roles except iSCSI)

Thanks
Steven

[2018-08-21 20:11] pcuzner commented on #218
Role detection is done through the presence of the ceph binaries for a mon/osd/rgw...so if you deploy all of these components it will look as though all those roles are active.

Is selinux active/blocking?

[2018-08-21 20:51] stef97 commented on #218
Selinux is disabled
Really appreciate you taking the time to look into this

On Tue, Aug 21, 2018, 4:11 PM pcuzner, <notifications@github.com> wrote:

[2018-08-21 21:17] stef97 commented on #218
Also no firewall

On Tue, Aug 21, 2018, 4:50 PM Steven Vacaroaia, <stef97@gmail.com> wrote:

[2018-08-23 13:41] wyllys66 opened #220 "OSD collector does not detect encrypted bluestore devices"
The code for detecting whether or not an OSD is encrypted does not do any checking if the device is bluestore., it just assumes "encrypted = 0".

One possible fix would be to check the path of the block device, similar to the filestore check:
`
encrypted = block_link.startswith('/dev/mapper')
`

[2018-08-23 19:05] stef97 opened #221 "templates parse error at character 6"
using default ansible deployment (containers and prometheus)
dashboards are showing but no data

After updating dashboard using dashUpdate.py and reloading  grafana, the following error shows

Templating init failed
parse error at char 6: could not parse remaining input ",osd02,osd04".

The only error I noticed ( docks logs grafan-server) is
msg="can't read dashboard provisioning files from direct

[2018-08-24 02:18] pcuzner commented on #220
the code pre-dates the the introduction of ceph-volume and lvm based OSDs. Unless I'm mistaken, just checking for the /dev/mapper entry would pick up and OSD defined with LVM too. I think the fact that an osd is encrypted should be part of the osd metadata, which could then be exposed by the prometheus exporter.

[2018-08-24 03:25] #217 closed

[2018-08-24 03:27] pcuzner commented on #213
@zmc can this issue be closed?

[2018-08-24 03:28] pcuzner commented on #202
resolved by #222

[2018-08-24 03:28] #202 closed

[2018-08-24 03:29] pcuzner commented on #105
Closing - if there are any further questions please reopen

[2018-08-24 03:29] #105 closed

[2018-08-24 12:02] stef97 commented on #221
running the playbook again fixed the template error

I can see cluster specific data ( pools,  capacity, pg ...etc) but nothig
host/OSD specific ( disks, network ..etc)

Example:
   ceph cluster dashbord is fully populated
   ceph backend storage has no data except "osd host capacity summary"

selinux and firewalld are disabled on all hosts

Port 9100 is open and available on all nodes
netstat -ln

[2018-08-24 12:50] stef97 commented on #221
Just to clarify

running playbook again fixed the issue
HOWEVER, running "python dashUpdater.py" broke it again ( without making
any changes to dashboard.yml

In summary, dashUpdater.py appears to do break the templates

Hers i the output in debug mode

[cephuser@ceph cephmetrics]$ python dashUpdater.py -d
Connection to Grafana is ok
Templates to update: {'domain': 'tor.medavail.net', 'osd_servers

[2018-08-27 14:16] stef97 opened #223 "missing OSD hosts specific data"
Hi,
Why I do not get any hosts data ( like IOPS,latency,  Network ...etc )?

Any help/troubleshooting tips will be appreciated ?

node_exported seems to be up and running and I am getting cluster data

[root@osd02 ~]# curl http://127.0.0.1:9100/metrics
# HELP go_gc_duration_seconds A summary of the GC invocation durations.
# TYPE go_gc_duration_seconds summary
go_gc_duration_seconds{quantile="0"}

[2018-08-27 15:52] stef97 commented on #223
Just to clarify further, it seems prometheus is receiving data because I am able to query it using http://server:9090/graph

Why grafana is not showing it ?

Any help will be VERY appreciated

![prometheus](https://user-images.githubusercontent.com/10089919/44670053-a4aed800-a9ef-11e8-9805-b4fc53d84a4c.PNG)

Thanks
Steven

[2018-08-27 17:02] stef97 commented on #223
Upon further investigation, I noticed that grafana is using/ expecting data with different name
Please clarify - I would really like to use cephmetrics with prometheus

Example ( latency by server):
   node_disk_read_time_ms

Node exported does not have that
 curl http://osd01:9100/metrics | grep node_disk_read_time
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current

[2018-08-27 20:02] stef97 commented on #218
So I embedded d=some logging and it seems raw_stats is not populated
despite the socket being found

INFO    - [rgw.py:50:_get_rgw_data() - only one rgw_socket found with
lenght['/var/run/ceph/ceph-client.rgw.osd01.1519.94623440453632.asok']
2018-08-27 15:59:22,212 - DEBUG   - [base.py:62:_admin_socket() -
admin_socket call 'perf dump' : 0.009s
2018-08-27 15:59:22,212 - INFO    - [rgw.py:57:_get_r

[2018-08-30 13:35] stef97 commented on #223
That helped - thank you
The only missing info is network related - any ideas ?
I am using bonding but it seems bond collector is enabled on node_exported
Also, my device names are different ( eth4, gth0 ..etc)
Prometheus has metrics ( see below)

PS
Just wanted to emphasize that
the fact that you take time to respond is really appreciated

node_network_receive_bytes{device="gth0",instance="osd01",

[2018-10-05 19:08] stef97 opened #226 "ceph-iscsi data missing"
Hi,

No ceph-iscsi data is available (ISCSI gateway grou, gateway load ...etc)
Any suggestions for troubleshooting this would be greatly appreciated ( I am using node_exporter 15.2 and latest version of cephmetrics)

Steven

[2018-10-10 12:44] stef97 commented on #226
Is there a configuration that I have missed ?
Prometheus exporter is enabled and running on port 9287 ( default)

 iSCSI configuration load complete
2018-10-10 08:17:21,806 [    INFO] - Integrated Prometheus exporter is enabled
2018-10-10 08:17:21,808 [    INFO] -  * Running on http://0.0.0.0:9287/

[2018-10-17 23:16] usmanakramb commented on #77
@bengland2 have you had any luck with getting the graphs to work? I am using 13.2.1 and having similar issues where some graphs are not showing. I have selinux in permissive mode on all the nodes.

[2018-10-29 19:53] stef97 commented on #223
Hi,
I've added NVME devices to my OSDs and this seems to break node_exporter
" ...msg="ERROR: diskstats collector failed "

Any suggestions / ideas will be greatly appreciated

/proc/diskstats is as follows
 cat /proc/diskstats
 259       0 nvme0n1 55381 0 4027200 2463 121 2631 22016 61 0 17535 19241 0 0 0 0
 259       1 nvme0n1p1 608 0 46368 21 0 0 0 0 0 21 21 0 0 0 0
 259       2 nvme0n1p2 661 0

[2018-10-30 14:28] stef97 commented on #223
It appears node_exporter had an issue with kernel 4.19
https://github.com/prometheus/node_exporter/issues/1049

The problem now is that If I upgrade node_exporter, cephmetrics does not get data anymore , if I dont I'll need to downgrade the kernel

Any plans to change code so there will be no need to use node_exporter version 15 ?

Many thanks

[2018-11-05 13:29] stef97 commented on #226
Ill appreciate some hints/instructions for getting iSCSI data
This is what the "iscsi Overview" panel has
iSCSI Gateway Group : $gateway_iqn
Many thanks
Steven

[2018-11-06 19:50] pcuzner commented on #226
Can you see data returned when you hit the /metrics endpoint?

Have you updated prometheus.yml to scrape from the gateways?

[2018-11-06 19:52] pcuzner commented on #223
The release of cephmetrics that's integrated into the mgr/dashboard accounts for the naming in node_exporter 0.15 and 0.16.

At this point, the standalone cephmetrics project will remain 0.15

[2018-11-06 20:30] stef97 commented on #226
many thanks
Modifying prometheus.yml to include iscsi-gws did the trick
Steven

[2019-02-09 21:42] pcfe opened #230 "RFE: please support dnf"
It would be nice if cephmetrics supported `dnf`.

I have some Fedora 29 ARM nodes in my Ceph cluster, thus I currently have to

[code]

Can you please add support for Fedora's default `ansible_pkg_mgr=dnf`?

[2019-02-09 21:45] pcfe commented on #230
Since `prometheus-node_exporter` is not (yet) available in the Fedora repo, use the copr [ibotty / prometheus-exporters](https://copr.fedorainfracloud.org/coprs/ibotty/prometheus-exporters/) when reproducing.

[2019-03-06 15:03] erolg opened #231 "Dashboards are using TestData"
When I try to upload the dashboards under dashboards/mgr-prometheus

They are using random test data even though dashboard files have target configurations.

My Grafana version: 5.4.3. I wonder this is related Grafana version but I can't test it older version.

[2019-03-23 23:49] dlbewley commented on #153
not presently found in ansible/purge.yml.

please close this issue

[2019-03-23 23:52] dlbewley commented on #134
On a related note, the only RHEL repo providing `prometheus` is "Red Hat OpenShift Container Platform 3.11 RPMs x86_64".

How then are we supposed to install cephmetrics?

[2019-03-23 23:54] dlbewley commented on #162
need info

[2019-03-28 20:16] dlbewley commented on #134
According to RH support, containerized prometheus is the only supported method of deployment. :(

[2019-03-29 01:15] dlbewley opened #232 "merge_vars.yml does not allow for extravars"
Attempting to set values for `ceph-grafana` and `ceph-prometheus` (all?) roles seems to be thwarted by the `merge_vars.yml` task.

[code]

If the values instead are placed in `roles/ceph-{grafana,prometheus}/defaults/main.yml` and run like this it will work:

[code]

This of course defeats the purpose of ansible variables however. I shouldn't have to modify the content of the playbook to run it. I

[2019-07-31 10:24] ericzolf opened #242 "Ansible role ceph-mgr name is colliding with same name in ceph-ansible"
The ceph-mgr role has a name colliding with the similarly named role brought by ceph-ansible, which makes it very difficult (aka next to impossible without dirty Ansible tricks, which doesn't foresee to have different roles having the same name) to have an integrated automation approach to Ceph deployment.

[2019-09-24 10:01] rppietrzak opened #247 "Replacing usage of group 'all' by dynamic generated group containing all ceph groups"
Scenario:
- using the inventory which contains more groups that might be not directly part of ceph deployment

Result:
- the prometheus.yml templated on the host will have additional non-ceph host in the `node` section
- if the non-ceph host will be not available for some reason the cephmetrics deployment will fail on the first gather_facts playbook

Those are caused by the line the https://github

[2019-09-24 10:11] rppietrzak commented on #247
I think it could be solved for example by below code (playbook.yml):
[code]
and the replacing `all` group in prometheus.yml template by `ceph_all`:
[code]

Group `ceph_all` can be used as well in other playbooks (not only one used for facts gathering).

[2019-11-20 13:10] jnemeiksis opened #250 "RGW Buckets metrics"
Hello,

mgr service(prometheus) no exposes rgw buckets metrics. For example: bucket iops, bucket size, etc.  Maybe RGW collector will expose metrics in the future?

[2021-03-07 23:07] lphabc opened #255 "The error was: 'collectd_dir' is undefined"
Keeps failing with collectd_dir is undefined but may be somewhere else.

TASK [ceph-collectd : Set PluginDir in collectd.conf] **************************
task path: /usr/share/cephmetrics-ansible/roles/ceph-collectd/tasks/configure_collectd.yml:16
fatal: [mon-1]: FAILED! => {
    "msg": "The task includes an option with an undefined variable. The error was: 'collectd_dir' is undefined\n\nThe error

[2021-03-08 12:14] lphabc commented on #255
Found it, devel_mode in ./roles/cephmetrics-common/defaults/main.yml was not set to true.

[2021-03-08 12:14] lphabc commented on #255
Resolved

[2021-03-08 12:14] #255 closed, assigned to nobody

[2021-03-08 12:56] lphabc opened #256 "dict object has no attribute ceph-grafana"
}
fatal: [dash]: FAILED! => {
    "msg": "The task includes an option with an undefined variable. The error was: 'dict object' has no attribute 'ceph-grafana'\n\nThe error appears to be in '/usr/share/cephmetrics-ansible/roles/ceph-collectd/tasks/configure_collectd.yml': line 36, column 3, but may\nbe elsewhere in the file depending on the exact syntax problem.\n\nThe offending line appears to be:

[2021-07-29 15:29] wyllys66 opened #257 "Is this project dead?"
The code is woefully out of date w.r.t recent ceph releases.  Specifically, the mon collector is incompatible with the current json structures returned in Luminous (14.2.X) and later versions.

Also, code should be upgraded to support python3.